# This is a sample config file for CPU2006. It was tested with:
#
#      Compiler name/version:       [gcc, g++, gfortran 4.3.4]
#                                   [gcc, g++, gfortran 4.4.4]
#                                   [gcc, g++, gfortran 4.6.0]
#      Operating system version:    [SLES 11 SP1, 64-bit, gcc 4.3.4 and 4.6.0]
#                                   [RHEL 6, 64-bit, gcc 4.4.4]
#      Hardware:                    [Opteron]
#
# If your platform uses different versions, different
# hardware or operates in a different mode (for
# example, 32- vs. 64-bit mode), there is the possibiliy
# that this configuration file may not work as-is.
#
# Note that issues with compilation should be directed
# to the compiler vendor. Information about SPEC techncial
# support can be found in the techsupport document in the
# Docs directory of your benchmark installation.
#
# Also note that this is a sample configuration. It
# is expected to work for the environment in which
# it was tested; it is not guaranteed that this is

# Note that you might find a more recent config file for
# your platform with the posted results at
# www.spec.org/cpu2006
####################################################################
# AMD64 (64-bit) gcc 4.3, 4.4 and 4.6 config file
# Sample Config file for CPU2006
#####################################################################

ignore_errors = yes
tune          = base
basepeak      = yes
# Select and/or modify as needed
ext           = gcc10-64bit
output_format = asc,csv,html
#flagsurl0     = $[top]/config/flags/Example-gcc4x-flags-revA.xml
#flagsurl1     = $[top]/config/flags/Example-linux-platform-revA.xml
reportable    = yes
teeout        = yes
teerunout     = yes
hw_avail      = Dec-9999
license_num   = 0
test_sponsor  = Test Sponsor (Optional, defaults to hw_vendor)
tester        = (Optional, defaults to hw_vendor)
strict_rundir_verify = 0

%define GCCge10  # EDIT: remove the '#' from column 1 if using GCC 10 or later

default=default=default=default:
#####################################################################
#
# Compiler selection
#
#####################################################################
# NOTE: The path may be different if you use the compiler from
#       the gnu site.
CC                 = /home/chenxiaoou/llvm-project/build-2/bin/clang -march=rv64imafdc
CXX                = /home/chenxiaoou/llvm-project/build-2/bin/clang++ -march=rv64imafdc
FC                 = /home/chenxiaoou/llvm-project/build-2/bin/flang -march=rv64imafdc

## HW config
# default sysinfo is expected to write hw_cpu_name, hw_memory, hw_nchips,
# hw_disk
hw_model           = System Model Name
hw_cpu_char        =
hw_cpu_mhz         = 9999
hw_fpu             = Integrated
hw_ncores          = number of cores enabled
hw_ncoresperchip   = number of cores manufactured into each chip
hw_nthreadspercore = number of threads enabled per core
hw_ncpuorder       = 1,2 chips
hw_pcache          = 9999 KB I + 9999 KB D on chip per core
hw_scache          = 9999 KB I+D on chip per core
hw_tcache          = 9999 MB I+D on chip per chip
hw_ocache          = None
hw_vendor          = System Vendor
hw_other           = None

## SW config
# default sysinfo is expected to write prepared_by, sw_os, sw_file, sw_state
# Descriptions of the different compilers tested
sw_compiler        = gcc, g++ & gfortran 10.3.0
# For SLES11 SP1
sw_avail           = May-2010
# For RHEL6
#sw_avail           = Oct-2010
# For gcc 4.6
#sw_avail           = Mar-2011
sw_other           = None
sw_base_ptrsize    = 64-bit
sw_peak_ptrsize    = 64-bit

#####################################################################
# Notes
#####################################################################

notes_os_000 ='ulimit -s unlimited' was used to set environment stack size

#####################################################################
# Optimization
#####################################################################

default=base=default=default:
COPTIMIZE   =  -Ofast -fno-strict-aliasing -I/usr/include/riscv64-linux-gnu -B/usr/lib/riscv64-linux-gnu
CXXOPTIMIZE =  -Ofast -fno-strict-aliasing -I/usr/include/riscv64-linux-gnu -B/usr/lib/riscv64-linux-gnu
FOPTIMIZE   =  -Ofast -fno-strict-aliasing -I/usr/include/riscv64-linux-gnu -B/usr/lib/riscv64-linux-gnu

#####################################################################
# 32/64 bit Portability Flags - all
#####################################################################

default=base=default=default:
PORTABILITY    = -DSPEC_CPU_LP64

#####################################################################
# Portability Flags
#####################################################################

400.perlbench=default=default=default:
CPORTABILITY   = -DSPEC_CPU_LINUX_X64 -std=gnu89

447.dealII=default=default=default:
CXXPORTABILITY = -std=c++03

450.soplex=default=default=default:
CXXPORTABILITY = -std=c++03

462.libquantum=default=default=default:
CPORTABILITY   =  -DSPEC_CPU_LINUX

464.h264ref=default=default=default:
CPORTABILITY = -fsigned-char

483.xalancbmk=default=default=default:
CXXPORTABILITY = -DSPEC_CPU_LINUX -Wno-c++11-narrowing

481.wrf=default=default=default:
CPORTABILITY   = -DSPEC_CPU_CASE_FLAG -DSPEC_CPU_LINUX

482.sphinx3=default=default=default:
CPORTABILITY = -fsigned-char

473.astar=default=default=default:
CXXPORTABILITY = -Wno-reserved-user-defined-literal

#----------------------------------------------------------------------
#       GCC workarounds that do not count as PORTABILITY
#----------------------------------------------------------------------

416.gamess=default=default=default:
EXTRA_FFLAGS = -fallow-argument-mismatch -funconstrained-commons

435.gromacs=default=default=default:
EXTRA_FFLAGS = -fPIC
EXTRA_CFLAGS = -fPIC

436.cactusADM=default=default=default:
EXTRA_FFLAGS = -fPIC
EXTRA_CFLAGS = -fPIC

454.calculix=default=default=default:
EXTRA_FFLAGS = -fPIC
EXTRA_CFLAGS = -fPIC

481.wrf=default=default=default:
EXTRA_FFLAGS = -fallow-argument-mismatch -fPIC
EXTRA_CFLAGS = -fPIC
