###############################################################################
# This is a sample config file for x86 linux using GCC 3.3.x compiler.
# This does not provide any peak level tuning, but has the portability
# flags and can be used as a starter config file. This config file
# does not use any Fortran 90 compiler,
# so the F90 benchmarks in SPECfp suite cannot be compiled with this.
# The F90 benchmarks are: 178.galgel, 187.facerec, 189.lucas, 191.fma3d
# Although this config file has only been tested with gcc 3.3.3 on SuSE Linux
# 9.2, it will probably also work with other versions of the gcc (x86)
# compiler.
###############################################################################
# To run:
#     runspec -c linux-x86-gcc.cfg -T all -n 3 int fp
# The extension 'gcc33-high-opt' uses high optimization and is enabled by
# default.  If you want lower levels of optimization, use the extension
# 'gcc33-low-opt', e.g.
#     runspec -c linux-x86-gcc.cfg -T all -n 3 -e gcc33-low-opt int fp
###############################################################################


# Modify these variables according to your system, vendor, run environment etc.
company_name    = XYZ Inc.
hw_model        = ASUS SK8V, Opteron (TM) 150
hw_cpu          = AMD Opteron (TM) 150
hw_cpu_mhz      = 2400
hw_disk         = IDE, WD2000
hw_fpu          = Integrated
hw_memory       = 2 x 512 PC3200 DDR SDRAM CL2.0
hw_avail        = May-2003
test_date       =
sw_file         = Linux/ext3
sw_os           = SuSE Linux 9.2 for x86
hw_vendor       =
tester_name     = XYZ Inc.
license_num     = 9999
hw_ncpu         = 1
hw_ncpuorder    = 1
hw_ocache       = N/A
hw_other        = None
hw_parallel     = No
hw_pcache       = 64KBI + 64KBD on chip
hw_scache       = 1024KB(I+D) on chip
hw_tcache       = N/A
sw_state        = Multi-user SuSE Run level 3

VENDOR          =
action          = validate
tune            = base
output_format   = asc,html,config
ext             = gcc10-low-opt

check_md5       = 1
reportable      = 1

teeout=yes
teerunout=yes

#
# NOTE: The F90 benchmarks will *not* work with this compiler
#       setting.
default=default=default=default:
CC      = gcc
CXX     = g++
FC      = gfortran --std=legacy

################################################################
# Portability Flags
################################################################

178.galgel=default=default=default:
EXTRA_FFLAGS = -ffixed-form -FI

186.crafty=default=default=default:
#CPORTABILITY   = -DLONG_HAS_64BITS -DLINUX
CPORTABILITY =   -DLINUX_i386 -DSPEC_CPU2000_LP64 -DLONG_HAS_64BITS -UHAS_LONGLONG

252.eon=default=default=default:
CXXPORTABILITY  = -DHAS_ERRLIST -fpermissive -DUSE_STRERROR

253.perlbmk=default=default=default:
CPORTABILITY    = -DSPEC_CPU2000_NEED_BOOL -std=gnu89 -DI_FCNTL -DSPEC_CPU2000_GLIBC22 -DSPEC_CPU2000_DUNIX

254.gap=default=default=default:
#CPORTABILITY   = -DSYS_HAS_SIGNAL_PROTO -DSYS_HAS_MALLOC_PROTO -DSYS_HAS_CALLOC_PROTO -DSYS_IS_USG -DSYS_HAS_IOCTL_PROTO -DSYS_HAS_TIME_PROTO -D_GNU_SOURCE
CPORTABILITY = -DSPEC_CPU2000 -DSPEC_CPU2000_LP64 -DSYS_HAS_CALLOC_PROTO -DSYS_IS_USG -DSYS_HAS_IOCTL_PROTO -DSYS_HAS_TIME_PROTO -DSYS_HAS_SIGNAL_PROTO -DSYS_HAS_CALLOC_PROTO -DHOST_LINUX -fwrapv

255.vortex=default=default=default:
CPORTABILITY = -DSPEC_CPU2000_LP64

300.twolf=default=default=default:
CPORTABILITY = -DSPEC_CPU2000_LP64 -DHAVE_SIGNED_CHAR

################################################################
# Baseline Tuning Flags
################################################################

#
# int2000
# Base tuning default optimization
#
int=base=gcc10-low-opt=default:
notes0080=  Baseline C:   gcc -O2
COPTIMIZE       = -O2
notes0085=  Baseline C++: g++ -O2
CXXOPTIMIZE     = -O2
feedback=0

int=base=gcc10-high-opt=default:
notes0080=  Baseline C:   gcc -O3 -funroll-all-loops
COPTIMIZE       = -O3 -funroll-all-loops
notes0085=  Baseline C++: g++ -O3 -funroll-all-loops
CXXOPTIMIZE     = -O3 -funroll-all-loops

int=peak=default=default:
basepeak=yes

fp=base=gcc10-low-opt=default:
notes0080=  Baseline C,Fortran: -O2
COPTIMIZE       = -O2
FOPTIMIZE       = -O2

fp=base=gcc10-high-opt=default:
notes0080=  Baseline C,Fortran: -O3 -funroll-all-loops
COPTIMIZE       = -O3 -funroll-all-loops
FOPTIMIZE       = -O3 -funroll-all-loops

fp=peak=default=default:
basepeak=yes

default=default=default=default:
notes0030=  Portability:
notes0086=  Peak tuning: basepeak=yes for all peak runs.
# change these variables according to your SUT
sw_avail= Dec-2003
sw_compiler0000= gcc and g77 3.3.x compiler
